body{
  background: linear-gradient(
    90deg,
    black,
    rgb(185, 39, 185)
  );
  background-size: 400% 400%;
}
.App{
  text-align: center;
  font-family:sans-serif;
  margin-top: 10%;
  color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.App h1{
  font-size: 40px;
  text-align: center ;
}

.App .items h4{
  font-size: 25px;
}

.App .addItems{
  height: 30px;
  width: 250px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.App .items{
  
  display: flex;
  color: rgba(245, 245, 245, 0.897);
  line-height: 5px;
}

.App .items .checkbox{
  flex: 10%;
  float: left;
  width: 30px;
  height: 30px;
}
.App .items .completed{
  text-decoration: line-through;
  opacity: 0.5;
  flex: 80%;
}


.App .items .uncompleted{
  flex: 80%;
}
.App .items .btn{
  float: right;
  flex: 10%;
}

button{
  border-radius: 20px;
  border-color: red;
  background-color: red;
  color: azure;
  width: 100px;
  height: 30px;
}



